:root {
    --primary-color: #8c8c9c;
    --primary-opaque-color: rgba(140, 140, 156, 0.5);
    --primary-font-color: #444;
    --accent-color: #444;
}

#app {
    height: 100vh;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

.money {
    color: #4ca497;
}

.not-profit {
    color: #ff5454;
}